* {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  color: white;
  font-family: "muli", sans-serif;
  box-sizing: border-box;
  font-size: 20px;
}

.container {
  max-width: 1400px;

  height: 100%;
  margin: auto;
}

.hero {
  display: flex;
  height: 100%;
}

.lhs {
  margin-right: 50px;
}

.rhs {
  height: 100%;
}

.header {
  z-index: -1;
  position: absolute;
  background-image: url("/src/imgs/background.png");
  background-repeat: no-repeat;
  object-fit: cover;
  width: 100%;

  height: 90vh;
}

.logo {
  display: flex;
  align-items: flex-start;
  padding-top: 40px;
  width: 100%;
}

.subhead1 {
  margin-top: 100px;
  color: #eacf98;
  font-weight: bold;
  font-size: 24px;
}

.subhead2 {
  font-size: 36px;
  font-family: "Merriweather", serif;
  font-weight: 300;
}

.subhead3 {
  font-size: 24px;
  font-weight: lighter;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(234, 207, 152, 0.5);
}

.content {
  padding-top: 10px;
}

.ctabutton1 {
  display: flex;
  margin-top: 60px;
  width: 430px;
  height: 80px;
  font-size: 24px;
  font-weight: lighter;
  background: none;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  align-items: center;
  text-align: center;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  width: 550px;
  height: 90vh;
  background-color: #eacf98;
}

.form_headline p {
  color: #14697e;
  font-size: 36px;
  line-height: 45px;
}

.form_headline {
  font-weight: 900;
  margin-top: 0px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

form input,
textarea {
  width: 500px;
  height: 48px;
  margin-bottom: 8px;
  padding-left: 20px;
  font-size: 18px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.363);
  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 5px;
}

form textarea {
  padding-top: 20px;
  height: 200px;
  resize: none;
  overflow-y: auto;
}

form input::placeholder,
textarea::placeholder {
  color: rgba(0, 0, 0, 0.363);
}

.submit {
  height: 72px;
  width: 500px;
  background: #14697e;
  border-radius: 5px;
  border-width: 0;
  font-weight: bold;
  margin-top: 16px;
}

.solved {
  width: 100%;
  font-family: "Merriweather";
  color: #14697e;
  text-align: center;
  font-weight: lighter;
  font-size: 46px;
  padding-top: 5vh;
}

.services {
  padding-top: 6vh;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.service {
  display: flex;
  width: 200px;
  flex-direction: column;
  align-items: center;
}

.service p {
  color: #14697e;
  font-size: 24px;
  font-weight: bolder;
  text-align: center;
}

.middle {
  display: flex;
  align-items: center;
  margin-top: 45vh;
  height: 500px;
  background-color: #14697e;
}

.mlhs {
  width: 50%;
}

.mrhs {
  width: 50%;
}

.light {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.55);
}

.mrhs p {
  font-weight: 900;
  font-size: 24px;
  text-align: center;
}

.darroll {
  margin-left: auto;
  margin-right: auto;
}

.social {
  width: 100%;
  margin-top: 20px;
  display: flex;
}

.profiles {
  display: flex;
  width: 100%;
}

.imgs {
  margin-left: auto;
  margin-right: auto;
}

.imgs img {
  padding: 10px;
}

.footer {
  display: flex;
  align-items: center;
  height: 70px;
  background-color: black;
  width: 100%;
}

.footer p {
  margin-left: auto;
  margin-right: auto;
}
